

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="\10607565.jpeg"/>
      <div class="caption">
        <h3>Hooman Bargrizan</h3>
        <a href="https://twitter.com/search?q=xcodedocx&src=typd" class="btn btn-block btn-social btn-twitter">
          <i class="fa fa-twitter"> @xcodedocx</i>
        </a>
        <a href="https://www.linkedin.com/profile/view?id=402804155" class="btn btn-block btn-social btn-linkedin">
          <i class="fa fa-linkedin"> Linkedin</i>
        </a>
        <a href="https://github.com/HoomanGriz" class="btn btn-block btn-social btn-github">
          <i class="fa fa-github"> HoomanGriz</i>
        </a>
        <a href="mailto:hbargrizan@gmail.com" class="btn btn-block">
          <i class="glyphicon glyphicon-envelope"> hbargrizan@gmail.com</i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="\10731415.png"/>
      <div class="caption">
        <h3>Jared Sobol</h3>
        <a href="https://twitter.com/Jareedos" class="btn btn-block btn-social btn-twitter">
          <i class="fa fa-twitter"> Jareedos</i>
        </a>
        <a href="https://www.linkedin.com/profile/view?id=AAkAABHsw1ABFbwarPOj1dvWkgLU_ZIRisXQjss" class="btn btn-block btn-social btn-linkedin">
          <i class="fa fa-linkedin"> Linkedin</i>
        </a>
        <a href="https://github.com/Jareedos" class="btn btn-block btn-social btn-github">
          <i class="fa fa-github"> Jareedos</i>
        </a>
        <a href="mailto:jaredallens@gmail.com" class="btn btn-block">
          <i class="glyphicon glyphicon-envelope"> jaredallens@gmail.com</i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="\12074409.jpeg"/>
      <div class="caption">
        <h3>Zoe Ingram</h3>
        <a href="https://twitter.com/zoeingram2017" class="btn btn-block btn-social btn-twitter">
          <i class="fa fa-twitter"> zoeingram2017</i>
        </a>
        <a href="https://www.linkedin.com/profile/view?id=AA4AABbjw8ABaGx_7oOZxQI9Pdm2pM4vU7wQQ6M" class="btn btn-block btn-social btn-linkedin">
          <i class="fa fa-linkedin"> Linkedin</i>
        </a>
        <a href="https://github.com/zoeingram" class="btn btn-block btn-social btn-github">
          <i class="fa fa-github"> zoeingram</i>
          <a href="mailto:zoe.a.ingram@gmail.com" class="btn btn-block">
          <i class="glyphicon glyphicon-envelope"> zoe.a.ingram@gmail.com</i>
        </a>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="\11745359.jpeg"/>
      <div class="caption">
        <h3>Anuja Verma</h3>
        <a href="https://twitter.com/anujaverma" class="btn btn-block btn-social btn-twitter">
          <i class="fa fa-twitter"> anujaverma</i>
        </a>
        <a href="https://www.linkedin.com/profile/view?id=AAIAAAF0O58BL-eFmuy0fweXzZcq34awTrYvsF4" class="btn btn-block btn-social btn-linkedin">
          <i class="fa fa-linkedin"> Linkedin</i>
        </a>
        <a href="https://github.com/anujaverma11" class="btn btn-block btn-social btn-github">
          <i class="fa fa-github"> anujaverma11</i>
          <a href="mailto:anuja.verma@gmail.com" class="btn btn-block">
          <i class="glyphicon glyphicon-envelope"> anuja.verma@gmail.com</i>
        </a>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="\6699432.jpeg"/>
      <div class="caption">
        <h3>Erin Beitel</h3>
        <a href="https://twitter.com/erinbeitel" class="btn btn-block btn-social btn-twitter">
          <i class="fa fa-twitter"> erinbeitel</i>
        </a>
        <a href="https://www.linkedin.com/profile/view?id=46502428" class="btn btn-block btn-social btn-linkedin">
          <i class="fa fa-linkedin"> Linkedin</i>
        </a>
        <a href="https://github.com/erinbeitel" class="btn btn-block btn-social btn-github">
          <i class="fa fa-github"> erinbeitel</i>
        </a>
        <a href="mailto:erin.beitel@gmail.com" class="btn btn-block">
          <i class="glyphicon glyphicon-envelope"> erin.beitel@gmail.com</i>
        </a>
      </div>
    </div>
  </div>
</div>