<div class="logo">
  <div class="cities">
    <div class="keylogin">
  <%= form_tag url: '/incoming', class: 'control-form' do %>
      <%= text_field_tag :key%>
  <%= button_to "Enter", incoming_path, {:class => "btn btn-default"} %>
    <% end %>
  </div>
</div>
</div>
