<div ng-controller="ServiceFormController">

  <script type="text/ng-template" id="alert-template.html">
    <div class="alert alert-success">
      <div ng-transclude></div>
    </div>
  </script>

  <script type="text/ng-template" id="group-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
      <div class="panel-heading">

        <h4 class="panel-title">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading"><span
            ng-class="{'text-muted': isDisabled}">{{heading}}</span>
          </a>
        </h4>
      </div>

      <div class="panel-collapse collapse" collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
  </script>

  <div class="hover08">
    <div>
      <figure><img src="http://www.hotel-icon.com/~/media/Images/Hotel_ICON_revamp/rooms/Above%20and%20Beyond/club-38-harbour_1.ashx"/></figure>
    </div>
  </div>

  <div class="all">
    <div ng-repeat="alert in alerts.CleanMe track by $index" template-url="alert-template.html" class="scheduletext">
      <div>{{alert}}</div>
    </div>
    <accordion close-others="oneAtATime">
      <accordion-group heading="Room Cleaning" class="clean" template-url="group-template.html" style="border: none">
        <div ng-controller="CleanMeController">
          <div ng-controller="DateTimePickerDemoCtrl" class="container">
            <h4>Sceduling cleaning service for: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></h4>
            <datetimepicker min-date="minDate" hour-step="hourStep"
            minute-step="minuteStep" ng-model="date" show-meridian="showMeridian"
            date-format="dd-MMM-yyyy" date-options="dateOptions"
            date-disabled="disabled(date, mode)"
            readonly-date="false"
            readonly-time="false"></datetimepicker>
            <button ng-click="addScheduleCleanService()">Schedule</button>
          </div>
        </div>
      </accordion-group>

    <div ng-repeat="alert in alerts.Valet track by $index" template-url="alert-template.html" class="scheduletext">
      <div>{{alert}}</div>
    </div>

    <accordion-group heading="Valet" class="car" template-url="group-template.html" style="border: none">
      <div ng-controller="ValetController">
        <div ng-controller="DateTimePickerDemoCtrl" class="container">
          <h4>Sceduling valet service for: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></h4>
          <datetimepicker min-date="minDate" hour-step="hourStep"
          minute-step="minuteStep" ng-model="date" show-meridian="showMeridian"
          date-format="dd-MMM-yyyy" date-options="dateOptions"
          date-disabled="disabled(date, mode)"
          readonly-date="false"
          readonly-time="false"></datetimepicker>
          <button ng-click="addScheduleValet()">Schedule</button>
        </div>
      </div>
    </accordion-group>

    <div ng-repeat="alert in alerts.WakeMe track by $index" template-url="alert-template.html" class="scheduletext">
      <div>{{alert}}</div>
    </div>

    <accordion-group heading="Wake me up" class="alarm" template-url="group-template.html" style="border: none">
      <div ng-controller="WakeMeController">
        <div ng-controller="DateTimePickerDemoCtrl" class="container">
          <h4>Sceduling wakeup service for: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></h4>
          <datetimepicker min-date="minDate" hour-step="hourStep"
          minute-step="minuteStep" ng-model="date" show-meridian="showMeridian"
          date-format="dd-MMM-yyyy" date-options="dateOptions"
          date-disabled="disabled(date, mode)"
          readonly-date="false"
          readonly-time="false"></datetimepicker>
          <button ng-click="addScheduleWakeUpService()">Schedule</button>
        </div>
      </div>
    </accordion-group>

    <div ng-repeat="alert in alerts.Spa track by $index" template-url="alert-template.html" class="scheduletext">
      <div>{{alert}}</div>
    </div>

    <accordion-group heading="Book a spa service" class="spa" template-url="group-template.html" style="border: none">
      <div ng-controller="SpaController">
	  	  <div ng-controller="DateTimePickerDemoCtrl" class="container">
        <h4>Sceduling spa service for: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></h4>
        <datetimepicker min-date="minDate" hour-step="hourStep"
        minute-step="minuteStep" ng-model="date" show-meridian="showMeridian"
        date-format="dd-MMM-yyyy" date-options="dateOptions"
        date-disabled="disabled(date, mode)"
        readonly-date="false"
        readonly-time="false"></datetimepicker>
        <button ng-click="addScheduleSpaService()">Schedule</button>
        </div>
      </div>
    </accordion-group>




    <div ng-repeat="alert in alerts.FeedMe track by $index" template-url="alert-template.html" class="scheduletext">
      <div>{{alert}}</div>
    </div>

    <accordion-group heading="Feed me" class="food" template-url="group-template.html" style="border: none">
      <div ng-controller="FeedMeController">

        <div ng-controller="DateTimePickerDemoCtrl" class="container">

          <h4>Sceduling room service for: <em>{{date | date:'shortTime' }}, {{date | date:'fullDate' }}</em></h4>

          <datetimepicker min-date="minDate" hour-step="hourStep"
          minute-step="minuteStep" ng-model="date" show-meridian="showMeridian"
          date-format="dd-MMM-yyyy" date-options="dateOptions"
          date-disabled="disabled(date, mode)"
          readonly-date="false"
          readonly-time="false"></datetimepicker>



        </div>



        <div ng-controller="ThumbnailSelectorController" class="container">
          <a href="#" ng-repeat="thumb in available_thumbnails" class="magic-thumbnail" ng-click="selectOption(thumb)" ng-selected="thumb.selected">
            <img src={{thumb.src}} />
          </a>
        </div>

        <button ng-click="addScheduleFoodService()">Schedule</button>

      </div>

    </accordion-group>
  </div>

  </accordion>

</div>




