<html ng-app="ui.bootstrap.demo">
<head>


	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- Plugin files -->
  <!-- script src="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.js"></script -->
  <link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet"> 
  
  <%= javascript_include_tag 'serviceform' %>
  <%= javascript_include_tag 'datetimepicker' %>
  <%= javascript_include_tag 'datetimeoptions' %>

</head>
<body>

<%= yield %>

</body>
</html>