<html ng-app="luxe">
  <head>
    <%= stylesheet_link_tag 'application' %>
    <link href="https://cdn.rawgit.com/zhaber/datetimepicker/master/datetimepicker.css" type="text/css" rel="stylesheet"> 
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  <%= yield %>

  </body>
</html>