
  <title>LUXE</title>
  <h2>Terms and Conditions for Luxe</h2>
  Welcome to Luxe. If you continue to browse and use Luxe, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use Luxe.

The term 'Luxe' or 'us' or 'we' refers to the owner of the website whose registered office is 5950 Pimpin Avenue, San Francisco, CA 93048. Our company registration number is 39239289334 and place of registration San Francisco, CA. The term 'you' refers to the user or viewer of Luxe.

The use of Luxe is subject to the following terms of use:

The content of the pages of Luxe is for your general information and use only. It is subject to change without notice.
Luxe uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: Name, Address, Phone Number, Email and any other contact information.
Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on Luxe for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
Your use of any information or materials on Luxe is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through Luxe meet your specific requirements.
Luxe contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
All trade marks reproduced in Luxe which are not the property of, or licensed to, the operator are acknowledged on the website.
Unauthorised use of Luxe may give rise to a claim for damages and/or be a criminal offence.
From time to time Luxe may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
Your use of Luxe and any dispute arising out of such use of the website is subject to the laws of England, Northern Ireland, Scotland and Wales.
<!-- form>
  Accept terms and conditions: <%#= form.check_box :terms %>
</form> -->

