//= require bootstrap-sass-official
//= require rails_bootstrap_forms

@import url(https://fonts.googleapis.com/css?family=Raleway:200,100);

.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}
.body{
 -moz-border-radius-topright:1px;
  -moz-border-radius-topleft:1px;
  -webkit-border-top-right-radius:1px;
  -webkit-border-top-left-radius:1px;
  border-top-left-radius:1px;
  border-top-right-radius:1px;
  text-align: center;

}
.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours],
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}

.magic-thumbnail{
	height: 50px;
	width: 50px;
	display: inline-block;
	overflow: hidden;
	border: 2px solid transparent;
}
.magic-thumbnail > img{
	height: 100%;
	width: 100%;
}
.magic-thumbnail[selected]{
	border: 2px solid blue;
}

body,.page {
  background-color: #2c2929;
  color: black;
  font-family: "Raleway";
  font-size: 18px;
}

.keylogin{
  margin: 0 auto;
  padding-top: 40em;
  text-align: center;

}
.logo{
  background-image: url("luxe-logo.png");

  background-color: #225f66;
  background-repeat: no-repeat;
}

.cities{
  background-image: url("cities.png");
  background-size: cover;

}

/*classes for images in accordion*/

