//= require bootstrap-sass-official
//= require rails_bootstrap_forms

@import url(https://fonts.googleapis.com/css?family=Raleway:200,100);

html,body{
	height: 100%;
	width: 100%;
  background-color: black;
}
.header{
	background-color: black;
}

body > .page{
	/*height: 90%;*/
	width: 100%;
  font-family: "Raleway";
  background-color: black;
}

.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}
.body{
 -moz-border-radius-topright:1px;
  -moz-border-radius-topleft:1px;
  -webkit-border-top-right-radius:1px;
  -webkit-border-top-left-radius:1px;
  border-top-left-radius:1px;
  border-top-right-radius:1px;
  text-align: center;

}
.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours],
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}

.magic-thumbnail{
	height: 50px;
	width: 50px;
	display: inline-block;
	overflow: hidden;
	border: 2px solid transparent;
}
.magic-thumbnail > img{
	height: 100%;
	width: 100%;
}
.magic-thumbnail[selected]{
	border: 2px solid blue;
}


.keylogin{
  margin: 0 auto;
  padding-top: 40em;
  text-align: center;

}
.logo{
  background-image: url("luxe-logo.png");
}

.cities{
  background-image: url("cities.png");
  background-size: cover;
  height: 100%;

}

/*classes for images in accordion*/

.panel-heading{
	background-image: url(http://img.archiexpo.com/images_ae/photo-g/contemporary-hotel-room-furniture-set-52432-8460571.jpg);
	background-position: center;
	height: 16em;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.ng-binding{
	font-size: 30px;
	color: black;
}
.all{
  padding-top: 6em;
  background-image: url("luxe-logo.png");
  background-size: 10%;
  background-position: fixed;
  top: 10px;
  background-repeat: no-repeat;
}
.clean .panel-heading{
	background-image: asset-url("bed.jpg");
	background-repeat: no-repeat;
	background-size: cover;
   box-shadow: none;

}
.car .panel-heading{
	background-image: asset-url("car.jpg");
	background-size: cover;
}
.alarm .panel-heading{
	background-image: asset-url("sleep.jpg");
	background-size: cover;
}
.spa .panel-heading{
	background-image: asset-url("spa.jpg");
	background-size: cover;
}
.scheduletext .ng-binding {
  color: white;
  font-size: 18px;
}

.hover08 figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover08 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.hotelsignup {
  background-color: black;
  padding-left: 3em;
  font-family: "Raleway";
  color: white;
}
