//= require bootstrap-sass-official

.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
}

.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 130px;
}

.datetimepicker-wrapper [ng-model=hours], 
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}

.magic-thumbnail{
	height: 50px; 
	width: 50px; 
	display: inline-block; 
	overflow: hidden;
	border: 2px solid transparent;
}
.magic-thumbnail > img{
	height: 100%;
	width: 100%;
}
.magic-thumbnail[selected]{
	border: 2px solid blue;
}